@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-image: url("../images/background1.png");
    color: white;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1030px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 46px;
    /* position: relative; */
}

.header {
    display: flex; 
}

.logo {
    display: flex;
}

.logo-child {
    width: 53px;
    height: 47px;
    margin: 0;
    position: absolute;
}

.logo-child_hover {
    width: 53px;
    height: 47px;
    margin: 0;
}

.title{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.logo:hover>.logo-child { 
    opacity: 0;
}

.logo:hover>.title>.title_milan,
.logo:hover>.title>.title_holidays {
    color: #F26522;
}

.title_milan {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 29px;
    text-transform: uppercase;
    height: 34px;
}

.title_holidays {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    height: 21px;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    margin-left: 608px;
}

.email {
    margin-bottom: 19px;
    cursor: pointer;
    /* font-size: 18px; */
}

.email:hover {
    color: #F26522;
}

.phone_number {
    cursor: pointer;
}

.phone_number:hover {
    color: #F26522;
}



.content_titles {
    margin-top: 20px;
}

.grid_bar {
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: repeat(2, 261px);
    column-gap: 63px;
    row-gap: 37px;
    margin-top: 17px;
}

.grid_element {
    text-align: center;
}

img {
    margin-bottom: 20px;
}

.grid_element:hover>.content_titles {
    color: #F26522;
}

.grid_element:hover>.hover_box {
    opacity: 100%;
    cursor: pointer;
}

.hover_box {
    opacity: 0;
    position: relative;
    top: -90px;
    width: 309px;
    background-color: #F26522;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hb_content1 {
    font-size: 10px;
    width: 22px;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.hb_content2 {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    justify-content: space-between;
}

.hb_content2::after {
    content: ">";
}

footer {
    margin-top: 48px;
}

.footer_text {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
